html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
} 

.main-page {
    background: linear-gradient(90deg, #FCFEFF 0%, #A5DEFF 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    margin-top: 32px;
    margin-bottom: 64px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-text {
    margin-left: 18px;
}

.banderogus-container {
    background-color: #FFFFFF;
    padding: 60px 56px;
    align-self: center;
}

.banderogus-title{
    color: #1E2123;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 24px;
}

.button-gus-start {
    background: #FF6B0A;
    border-radius: 8px;
    width: 172px;
    height: 48px;
    color: #FFFFFF;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.banderogus-descr {
    color: #1E2123;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
}

.banderogus-start-text {
    color: #FF6B0A;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}

.banderogus-greeting {
    color: #1E2123;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.banderogus-image {
    /* height: 100%; */
    align-self: flex-end;
}

.main-page-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.gus-facts {
    color: #1E2123;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.ukr-logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
}

.sector-fact3, .sector-fact2, .sector-fact1 {
    color: #1E2123;
    width: 374px;
    margin-bottom: 48px;
}

.sector-titul {
    margin-bottom: 24px;
}

.facts {
    display: flex;
    justify-content: space-evenly;
}

.fact-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.fact-h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    padding-top: 12px;
    padding-bottom: 32px;
}

#fact-titul {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100px;
}

#fact-p-titu0 {
    width: 875px;
    height: 72px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.end-of-page {
    margin: 0px 96px 0px 96px;
    
}

.sector-end {
    padding-top: 72px;
    padding-bottom: 72px;
    background: linear-gradient(90deg, #FCFEFF 0%, #A5DEFF 100%);
}

.ukr-logo1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.empty-indent {
    height: 72px;
}

.modal-bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgb(30 33 35 / 70%);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal-form {
    width: 572px;
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-form-container {
    background: #FFFFFF;
    padding: 32px 92px 60px 92px;
    position: relative;
}

.modal-form-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1E2123;
    margin-top: 32px;
}

.modal-form-desrc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1E2123;
    margin-top: 12px;
    margin-bottom: 24px;
}

.modal-field-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1E2123;
    margin-bottom: 8px;
    height: 24px;
}

.button-modal-bgd {
    background: #FF6B0A;
    border-radius: 8px;
    width: 172px;
    height: 48px;
    color: #FFFFFF;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.modal-field-input {
    width: 374px;
    height: 48px;
    background: #FFFFFF;  
    border: 1px solid #005BBB;
    border-radius: 8px;
    display: flex;
    display: block;
    margin: 1rem 0;
    padding: 1rem;
    box-sizing: border-box;
}

.modal-form-field2 {
    margin-top: 16px;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 24px;
    color: #1E2123;
    cursor: pointer;
    border: 0;
    background: none;
}

.margin-bottom {
    margin-bottom: 0;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}